body {
    /* background-color: rgb(227, 196, 237); */
    background-color: black;
    color: white;
    /* font-family: Arial, Helvetica, sans-serif; */
}
/* 
.newClass {
    color: blue;
} */

.icon {
    grid-area: auto;
    /* width: 90px;
    height: 65px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input-group {
    top: 200px;
    position: absolute;
    width: 200px;
    transition: 0.5s;
    color: black;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 5%;
    overflow: hidden;
}
.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("performance.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    opacity: 0.9;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 118px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad86);
    border-radius: 30px;
    transition: 0.5s;
}

.submit-btn {
    width: 50%;
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad86);
    border: 0;
    outline: none;
    border-radius: 30px;
}
#login {
    left: 50px;
}

#register {
    left: 450px;
}

.card-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* color: black; */
}
/* .border-green {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
} */
.avatar,
.camera {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.uploader {
    border: 5px dashed white;
    /* width: 250px;
    height: 250px; */
    /* align-items: center; */
    max-width: 500px;
    /* max-height: 300px; */
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

/* textarea {
    border: 5px dashed black;
    width: 250px;
    height: 250px;
} */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Poppins", sans-serif;
    background-color: #5d4954;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

textarea {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* background: black; */
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-color: #ffd700;

    min-height: 4em;
    padding: 1em 2em;
    font: 1em/150% sans-serif;
    position: relative;
    /* background-color: brown; */
}

textarea::before,
textarea::after {
    position: absolute;
    height: 3rem;
    font: 6rem/100% Georgia, "Times New Roman", Times, serif;
}

textarea::before {
    content: "“";
    top: 0.3rem;
    left: 0.9rem;
}

textarea::after {
    content: "”";
    bottom: 0.3rem;
    right: 0.8rem;
}

textarea:lang(fr)::before {
    content: "«";
    top: -1.5rem;
    left: 0.5rem;
}

textarea:lang(fr)::after {
    content: "»";
    bottom: 2.6rem;
    right: 0.5rem;
}

textarea i {
    display: block;
    font-size: 0.8em;
    margin-top: 1rem;
    /* text-style: italic; */
    text-align: right;
}

/* user profile */
.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);s */
    max-width: 500px;
    /* max-height: 300px; */
    margin: auto;
    margin-top: 200px;
    text-align: center;
    box-shadow: 5px 10px 25px rgb(220, 173, 234);
    /* border: solid 2px violet; */
    background: white;
    border-radius: 10px;
    color: black;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
/* .title {
    color: grey;
    font-size: 18px;
} */

.save-btn {
    background: linear-gradient(to right, #ff105f, #ffad86);
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

/* a {
    text-decoration: none;
    font-size: 22px;
    color: black;
} */

.save-btn:hover,
a:hover {
    opacity: 0.7;
}

/* .blinking {
    text-align: center;
    animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
    0% {
        color: white;
    }
    49% {
        color: white;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: white;
    }
} */

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.search-input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #eee;
    /* box-shadow: 0 5 20px 5px rgba(0, 0, 0, 0.06); */
    box-shadow: 5 10 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 20%;
    font: outline;
}

h1 {
    align-items: center;
    color: white;
}

.profile-name {
    color: black;
}

.bio-text {
    color: black;
}

.show-all {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.friends-container {
    background-color: violet;
    text-align: center;
    margin-top: 10px;
    color: white;
    padding: 1rem;
    height: 4rem;
}
/* .pending-container {
    background-color: goldenrod;
    color: white;
    padding: 1rem;
    height: 4rem;
} */

.wannabes-container {
    /* background-color: goldenrod; */
    text-align: center;
    background-color: violet;
    margin-top: 10px;
    margin-top: 10px;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.accepted-friends img {
    /* width: 15%; */
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .show-all {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .cardzz {
        grid-template-columns: repeat(3, 1fr);
    }
}

.searchppl-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    flex-direction: rows;
    align-items: center;

    text-align: center;
    /* background: whitesmoke; */
    /* box-shadow: 5px 10px 25px rgb(220, 173, 234); */
    border-radius: 10px;
    /* hover effect see card:hover */
    /* transition: 0.8;
    cursor: pointer; */
}

.column {
    /* object-fit: cover; */
    display: flex;
    flex-direction: column;
    /* flex: 33.33%; */
    padding: 5px;
    margin: 30px;
    margin-left: 100px;
    margin-top: 150px;
    /* border: solid 1px rgb(220, 173, 234); */
    border: solid 1px goldenrod;
}
.search-input {
    width: 150px;

    padding: 10px;
    margin: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0.1);
    border-radius: 3px;
}
/* 
.text-findpeople {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    color: white;
} */

.p-column {
    text-align: center;
    text-decoration: none;
}

.error-message {
    color: red;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Chat containers */
.chat-container {
    /* border: 2px solid #dedede; */
    /* background-color: #f1f1f1; */
    border: 2px solid red;
    /* background-color: black; */
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}
/* Chat containers */
.chatter-container {
    /* border: 2px solid #dedede; */
    /* background-color: #f1f1f1; */
    border: 2px solid red;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.chatter-container {
    border-color: blue;
    /* background-color: white; */
    background-color: black;
}

/* Clear floats */
.chatter-container :after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chatter-container img {
    float: left;
    /* max-width: 100px; */
    width: 15%;
    margin-right: 10px;
    border-radius: 50%;
}

/* Style the right image */
.chatter-container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}
