body {
    background-color: gray;
}
/* 
.newClass {
    color: blue;
} */

.form {
    color: blue;
    display: "flex";
}

input {
    justify-content: "flex-start";
    align-items: "center";
    flex-direction: "row";
    width: "20vw";
    padding: 5px;
    border-style: "solid";
    border-width: 1;
    border-color: "green";
    border-radius: 5;
    color: "green";
}
